menuentry "Batocera.PLUS" {
    ### CONFIGURATION START
    set DISC=0
    set PART=2
    set DIR=/LiveLinux/batocera
    set FILE=Batocera.PLUS.img

    ### IMPORTANT! NO CHANGE!
    insmod ntfs
    insmod ntfscomp
    insmod test
    if [ -f (hd$DISC,msdos$PART)$DIR/$FILE ]; then
        loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
        EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
        linux (loop,msdos1)/boot/linux $EXEC console=tty3 quiet loglevel=0 vt.global_cursor_default=0
        if [ -f (loop,msdos1)/batocera-hd-edition/batocera-hd-edition.gz ]; then
            initrd (loop,msdos1)/batocera-hd-edition/batocera-hd-edition.gz
        elif [ -f (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz ]; then
            initrd (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz
        fi
    else
        linux  /boot/linux label=BATOCERA console=tty3 quiet loglevel=0 vt.global_cursor_default=0
        initrd /boot/initrd.gz
    fi
}

menuentry "Batocera.Linux" {
    ### CONFIGURATION START
    set DISC=0
    set PART=2
    set DIR=/LiveLinux/batocera
    set FILE=Batocera.Linux.img

    ### IMPORTANT! NO CHANGE!
    insmod ntfs
    insmod ntfscomp
    insmod part_gpt
    insmod part_msdos    
    insmod test
    if [ -f (hd$DISC,msdos$PART)$DIR/$FILE ]; then
        echo "Batocera.PLUS"
        loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
        EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
        linux (loop,gpt1)/boot/linux $EXEC console=tty3 quiet loglevel=0 vt.global_cursor_default=0
        if [ -f (loop,gpt1)/batocera-hd-edition/batocera-hd-edition.gz ]; then
            initrd (loop,gpt1)/batocera-hd-edition/batocera-hd-edition.gz
        elif [ -f (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz ]; then
            initrd (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz
        fi
    else
        echo "I could not find the system image to boot!"
        echo "Check your settings in the grub configuration file."
		boot
    fi
}




#menuentry "RECALBOX-HD-EDITION [64BITS]" {
#    # CONFIGURATION
#    set DISC=0
#    set PART=2
#    set DIR=/LiveLinux/recalbox
#    set FILE=recalbox64.img

#    # NO CHANGE
#    insmod ntfs
#    insmod ntfscomp
#    loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
#    EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
#    linux  (loop,msdos1)/boot/bzImage $EXEC console=tty3 quiet loglevel=0
#    initrd (hd$DISC,msdos$PART)$DIR/recalbox-hd-edition.gz
#}

#menuentry "RECALBOX-HD-EDITION [32BITS]" {
#    # CONFIGURATION
#    set DISC=0
#    set PART=2
#    set DIR=/LiveLinux/recalbox
#    set FILE=recalbox32.img

#    # NO CHANGE
#    insmod ntfs
#    insmod ntfscomp
#    loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
#    EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
#    linux  (loop,msdos1)/boot/bzImage $EXEC console=tty3 quiet loglevel=0
#    initrd (hd$DISC,msdos$PART)$DIR/recalbox-hd-edition.gz
#}
