set default="0"
set timeout="0"

menuentry "Batocera.PLUS" {

    ### USER CONFIGURATION
    set DISC=0
    set PART=2
    set DIR=/grub2/images
    set FILE=batocera-5.24-x86_64-20191014.img

    ### IMPORTANT! NO CHANGE!
    insmod ntfs
    insmod ntfscomp
    insmod part_gpt
    insmod part_msdos    
    insmod test
    if [ -f (hd$DISC,msdos$PART)$DIR/$FILE ]; then
        echo "Batocera.PLUS"
        loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
        EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
        linux (loop,gpt1)/boot/linux $EXEC console=tty3 quiet loglevel=0 vt.global_cursor_default=0
        if [ -f (loop,gpt1)/batocera-hd-edition/batocera-hd-edition.gz ]; then
            initrd (loop,gpt1)/batocera-hd-edition/batocera-hd-edition.gz
        elif [ (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz ]; then
            initrd (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz
        fi
    else
        echo "I could not find the system image to boot!"
        echo "Check your settings in the grub configuration file."
		boot
    fi
}
