[Desktop Entry]
Version=1.0
Icon=openbox
Exec=/opt/ControlPanel/batocera-save-overlay.plus
Terminal=false
Type=Application
Categories=batocera.plus;
Name=batocera-save-overlay
Comment=Save changes to the system.
NoDisplay=false
