[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/firefox.png
Exec=/opt/Firefox/firefox.sh
Terminal=false
Type=Application
Categories=web;batocera.linux;
Name=firefox
NoDisplay=false
