[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/goverlay.png
Exec=/bin/sh -c "/opt/GOverlay/goverlay"
Terminal=false
Type=Application
Categories=settings;batocera.linux;
Name=GOverlay
GenericName=GOverlay Front-end 
Comment=Front-end to config MangoHud and VKbasalt 
Keywords=goverlay;mangohud;vkbasalt; 
NoDisplay=false
