[Desktop Entry]
Type=Application
Name=Preferred Applications
Name[ar]=التّطبيقات المحبّذة
Name[be]=Пераважныя праграмы
Name[bg]=Предпочитани програми
Name[bn]=পছন্দনীয় অ্যাপ্লিকেশন
Name[ca]=Aplicacions preferides
Name[cs]=Upřednostňované aplikace
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες εφαρμογές
Name[en_GB]=Preferred Applications
Name[es]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fa]=نرم‌افزارهای برگزیده
Name[fi]=Oletussovellukset
Name[fo]=Framumtiknar nýtsluskipanir
Name[fr]=Applications préférées
Name[gl]=Aplicacións preferidas
Name[he]=יישומים מועדפים
Name[hr]=Željeni programi
Name[hu]=Alapértelmezett alkalmazások
Name[id]=Aplikasi Pilihan
Name[is]=Forgangsforrit
Name[it]=Applicazioni preferite
Name[ja]=既定のアプリケーション
Name[kk]=Таңдамалы қолданбалар
Name[ko]=기본 프로그램
Name[lg]=Puloguramu ennondemu
Name[lt]=Pageidaujamos programos
Name[nl]=Voorkeurstoepassingen
Name[pl]=Preferowane programy
Name[pt]=Aplicações preferidas
Name[pt_BR]=Aplicativos Preferidos
Name[ro]=Programe preferate
Name[ru]=Предпочтительные приложения
Name[sk]=Odporúčané aplikácie
Name[sl]=Prednostni programi
Name[sr]=Подразумевани програми
Name[sr@latin]=Podrazumevani programi
Name[sv]=Program
Name[te]=ప్రాధాన్య అనువర్తనాలు
Name[tr]=Tercih Edilen Uygulamalar
Name[tt_RU]=Яратылган кушымталар
Name[ug]=ئامراق پروگراممىلار
Name[uk]=Улюблені програми
Name[vi]=Ứng dụng ưa thích
Name[zh_CN]=优先使用的应用程序
Name[zh_TW]=偏好的應用程式
Comment=Select applications called on click on Web link or e-mail address
Comment[ar]=حدّد التّطبيقات المستدعاة عند النّقر على وصلة وِبّ أو عنوان بريد إلكترونيّ.
Comment[bg]=Изберете приложенията, които да се извикват при клик на Уеб връзка или имейл адрес.
Comment[ca]=Selecciona les aplicacions invocades amb un clic sobre un enllaç web o una adreça de correu electrònic
Comment[cs]=Vyberte aplikaci, která se spustí při kliknutí na webový odkaz nebo e-mail adresu
Comment[da]=Vælg programmer som skal bruges ved klik på weblink eller e-mailadresse
Comment[de]=Anwendung für Weblinks oder E-mail Adressen auswählen
Comment[el]=Επιλογή εφαρμογών που ενεργοποιούνται με την κλήση συνδέσμου του διαδικτύου ή διεύθυνσης ηλεκτρονικού ταχυδρομείου
Comment[es]=Elija las aplicaciones a abrir al pulsar en enlaces web o direcciones de correo
Comment[et]=Vali rakendused, mis avatakse veebilingile või meiliaadressile klõpsamisel
Comment[eu]=Hautatu Webeko esteka edo e-posta helbide bat klikatzean deitzen diren aplikazioak
Comment[fi]=Selecione as aplicações a invocar ao clicar numa ligação ou endereço eletrónico
Comment[fr]=Sélectionner les applications à ouvrir par clic sur un hyperlien ou une adresse électronique
Comment[gl]=Seleccione as aplicacións que chamar ao premer sobre a ligazón web ou o enderezo de correo
Comment[he]=בחירת יישומים שיפעלו עקב לחיצה על קישור לאתר או לכתובת דוא״ל
Comment[hr]=Odabrite programe koji će biti pozvani klikom na poveznicu ili e-mail adresu
Comment[id]=Pilih aplikasi yang dipanggil saat mengklik taut Web atau alamat surel
Comment[is]=Veldu hvaða forrit þú vilt að tölvan noti þegar smellt er á vefslóð eða netfangstengil
Comment[it]=Scegli le applicazioni eseguite al clic su un collegamento Web o un indirizzo e-mail
Comment[ja]=Web のリンクや e-mail アドレスをクリックした時に呼ばれるアプリケーションを選択してください
Comment[kk]=Веб сілтемесі не эл. пошта адресі шертілген кезде ашылатын қолданбаларды таңдау
Comment[ko]=웹 링크 또는 전자메일 주소를 누를때 호출할 프로그램을 선택하십시오
Comment[lg]=Londa puloguramu z'oyagala zitandike nga okoonye ku nyunzi ey'oku yintaneti oba ku ndagiriro ya email
Comment[lt]=Pasirinkti programas, kurios bus paleidžiamos, spustelėjus saityno nuorodą ar el. pašto adresą
Comment[nl]=Kies toepassingen die worden aangeroepen bij een klik op een webkoppeling of e-mailadres
Comment[pl]=Wybierz programy uruchamiane przy kliknięciu w odnośnik sieciowy lub adres e-mail
Comment[pt]=Selecione as aplicações a invocar ao clicar numa ligação ou endereço eletrónico
Comment[pt_BR]=Selecione as aplicações que serão chamadas com click em Web link ou endereço de e-mail
Comment[ru]=Выбрать приложения, открываемые при клике на Web-ссылку или адрес почты
Comment[sk]=Vyberte aplikáciu, ktorá sa spustí pri kliknutí na webový odkaz alebo emailovú adresu
Comment[sl]=Izberite programe, ki se zaženejo, ko pritisnite na spletno povezavo ali naslov elektronske pošte
Comment[sr]=Одаберите програме покренуте кликом на веб везе или адресу е-поште
Comment[sr@latin]=Odaberite aplikacije klikom na veb link ili adresu e-pošte
Comment[sv]=Välj applikation att starta vid klick på webb- eller e-post-adress
Comment[te]=జాల లంకె లేదా ఈమెయిలు చిరునామా పై నొక్కినప్పుడు తెరవబడే అనువర్తనాన్ని ఎంచుకోండి
Comment[tr]=Web bağlantısı veya e-posta adresine tıklanıldığında çağrılacak uygulamaları seçin
Comment[uk]=Вибір програм, що викликаються по клацанню на Web посилання або поштову адресу
Comment[zh_CN]=选择当点击网络链接或邮件地址时调用的应用程序
Comment[zh_TW]=選取當點擊網頁連結或電郵位址時開啟的應用程式
Icon=preferences-desktop
Exec=libfm-pref-apps
StartupNotify=true
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
OnlyShowIn=LXDE;
