[Desktop Entry]
Type=Application
Icon=applications-other
Name=Shortcut Editor
Name[ar]=محرّر الاختصارات
Name[bg]=Редактор на преки пътища
Name[ca]=Editor de dreceres
Name[cs]=Editor zkratek
Name[da]=Rediger Genveje
Name[de]=Verknüpfungs-Editor
Name[el]=Επεξεργαστής Συντόμευσης
Name[en_GB]=Shortcut Editor
Name[es]=Editor de atajos
Name[et]=Otsetee redaktor
Name[eu]=Lasterbide-editorea
Name[fi]=Pikanäppäinten muokkaus
Name[fr]=Éditeur de raccourcis
Name[gl]=Editor de atallos
Name[he]=עורך קיצורי הדרך
Name[hr]=Uređivač prečaca
Name[hu]=Parancsikon szerkesztő
Name[id]=Penyunting Pintasan
Name[is]=Flýtilyklaritill
Name[it]=Modifica le scorciatorie
Name[ja]=ショートカット・エディタ
Name[kk]=Жарлықтар түзетушісі
Name[ko]=바로 가기 편집기
Name[lg]=Kola ku Panya
Name[lt]=Šaukinių redaktorius
Name[nl]=Snelkoppelingbewerker
Name[pl]=Edytor skrótu
Name[pt]=Editor de atalhos
Name[pt_BR]=Editor de Atalhos
Name[ru]=Редактор ярлыков
Name[sk]=Editor skratiek
Name[sl]=Urejevalnik bližnjic
Name[sr]=Уредник пречица
Name[sr@latin]=Uređivač prečica
Name[sv]=Genvägsredigerare
Name[te]=అడ్డదారుల కూర్పకం
Name[tr]=Kısayol Düzenleyici
Name[ug]=تېزلەتمە تەھرىرلىگۈچ
Name[uk]=Редактор ярликів
Name[zh_CN]=快捷方式编辑器
Name[zh_TW]=捷徑編輯器
Comment=Create new or change existing desktop entry
Comment[ar]=أنشئ مدخلة سطح مكتب جديدة أو حرّر واحدة موجودة
Comment[bg]=Създаване на нов или промяна на съществуващия запис на работния плот
Comment[ca]=Canvia l'entrada d'escriptori existent o crea'n una de nova
Comment[cs]=Vytvořit nový nebo změnit stávající vstup na ploše
Comment[da]=Opret ny eller ændre eksisterende skrivebordspost
Comment[de]=Erstelle neuen oder ändere existieren .desktop-Datei Eintrag
Comment[el]=Δημιουργία νέας ή αλλαγή υπάρχουσας εγγραφής στην επιφάνεια εργασίας
Comment[en_GB]=Create new or change existing desktop entry
Comment[es]=Crear o modificar una entrada .desktop
Comment[et]=Loo uus või muuta olemasolevat töölaua kannet
Comment[eu]=Sortu edo aldatu mahaigaineko sarrera
Comment[fi]=Luo uusi tai muuta olemassa olevaa työpöytäkäynnistintä
Comment[fr]=Créer une nouvelle entrée de bureau ou en modifier une
Comment[gl]=Crear ou cambiar unha entrada de escritorio existente
Comment[he]=יצירה או שינוי של רשומת שולחן עבודה
Comment[hr]=Napravite novi ili promjenite postojeći unos radne površine
Comment[hu]=Új asztalbejegyzés létrehozása vagy meglévő módosítása
Comment[id]=Buat baru atau ubah entri desktop yang ada
Comment[is]=Búa til nýja eða breyta skjáborðsfærslu
Comment[it]=Crea un elemento del desktop o modifica uno esistente
Comment[ja]=デスクトップ・エントリの新規作成、あるいは既存のを変更する
Comment[kk]=Жаңа desktop элементін жасау немесе бар болып тұрғанды өзгерту
Comment[ko]=기존 데스크톱 항목을 새로 만들거나 바꿉니다
Comment[lg]=Kolawo oba kyusa ekisangibwa awakolerwa
Comment[lt]=Sukurti naują ar keisti esamą darbalaukio įrašą
Comment[nl]=Maak nieuw of verander bestaand configuratiebestand voor de werkomgeving
Comment[pl]=Tworzy nowy lub modyfikuje istniejący element pulpitu
Comment[pt]=Criar entrada ou alterar uma entrada existente
Comment[pt_BR]=Criar novo ou alterar uma entrada da área de trabalho
Comment[ru]=Создавать или редактировать ярлык программы
Comment[sk]=Vytvoriť novú alebo upraviť existujúcu položku plochy
Comment[sl]=Ustvarite novo ali spremenite obstoječo datoteko namizja
Comment[sr]=Створите нову или мењајте постојећу датотеку радне површи
Comment[sr@latin]=Stvorite novu ili menjajte postojeću datoteku radne površi
Comment[sv]=Skapa nytt eller uppdatera ett skrivbordselement
Comment[te]=ఉన్నటువంటి డెస్కుటాప్ ప్రవేశాన్ని మార్చండి లేదా కొత్తది సృష్టించండి
Comment[tr]=Yeni bir masaüstü girdisi oluştur veya mevcutu değiştir
Comment[uk]=Створення або редагування ярлику програми
Comment[zh_CN]=新建或修改现有的桌面项
Comment[zh_TW]=建立新的或變更現有的桌面項目
Categories=Utility;GTK;
Exec=lxshortcut -i %f
StartupNotify=true
Terminal=false
MimeType=application/x-desktop;
NoDisplay=true
