[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/parsecd.png
Exec=/usr/bin/parsecd
Terminal=false
Type=Application
Categories=internet;Game;batocera.linux;
Name=PARSEC
GenericName=PARSEC Frontend
Comment=Simple, low-latency game streaming.
Keywords=parsec;internet;
NoDisplay=false
