[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/qbittorrent.png
Exec=/opt/qBittorrent/qbittorrent
Terminal=false
Type=Application
Categories=internet;batocera.linux;
Name=qBittorrent
NoDisplay=false
