[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/wine.png
Exec=/usr/bin/wine-winecfg
Terminal=false
Type=Application
Categories=settings;games;batocera.plus;
Name=Wine configurator
GenericName=Wine/Pronton Configurator
Comment=An frontend to configura wine and proton
Keywords=wine;proton;
NoDisplay=false
