[Desktop Entry]
Version=1.0
Icon=xterm-color_48x48
Exec=xterm
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=Xterm
GenericName=Xterm Terminal
Comment=Command line terminal for linux
Keywords=Terminal;Xterm;shell;
NoDisplay=false
