[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/yuzu.png
Exec=/opt/Yuzu/yuzu.sh
Terminal=false
Type=Application
Categories=internet;Game;batocera.linux;
Name=Yuzu
GenericName=Yuzu Emulator
Comment=An Nintendo switch emulator for linux
Keywords=Nintendo;switch;
NoDisplay=false

