Package: raine
Version: 0.64.15
Architecture: i386
Maintainer: Emmanuel Anne <emmanuel.anne@gmail.com>
Installed-Size: 8581
Depends: libc6 (>= 2.15), libflac8 (>= 1.3.0), libgcc1 (>= 1:4.2), libmuparser2v5 (>= 2.2.3), libpng16-16 (>= 1.6.2-1), libsdl-image1.2 (>= 1.2.10), libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.11), libstdc++6 (>= 5.2), libvorbisfile3 (>= 1.1.2), zlib1g (>= 1:1.1.4)
Recommends: hiscore-raine (>= 20140819), history-raine (>= 1.55), command-raine (>= 20141122), blend-raine (>= 201501)
Section: games
Priority: optional
Homepage: http://rainemu.swishparty.co.uk/
Description: Raine arcade emulator
 Raine is an emulator for arcade games from the years 1980-2000.
 It's mainly focused on speed.
 It requires roms to work, but you can get a totally free rom from
 http://raine.1emulation.com/download/extras.html (just to see it
 working).
 CPUs emulated : 68000, 68020, Z80 and 6502, + some crazy recompilation for the 68706
