[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/nvidia.png
Exec=/usr/bin/nvidia-settings
Terminal=false
Type=Application
Categories=settings;games;batocera.linux;
Name=NVIDIA X Server Settings
GenericName=NVIDIA Settings
Comment=An configurator for nvidia drivers
Keywords=System;NVIDIA;Settings;
NoDisplay=false
