<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" target="$mono_libdir\SDL2-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="SDL2" target="$mono_libdir\SDL2-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="SDL2_image" target="$mono_libdir\SDL2_image-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="SDL2_image" target="$mono_libdir\SDL2_image-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="mojoshader" target="$mono_libdir\libmojoshader-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="mojoshader" target="$mono_libdir\libmojoshader-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FAudio" target="$mono_libdir\FAudio-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="FAudio" target="$mono_libdir\FAudio-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="libtheorafile" target="$mono_libdir\libtheorafile-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="libtheorafile" target="$mono_libdir\libtheorafile-x86_64.dll" os="windows" cpu="x86-64"/>
</configuration>
