set default="0"
set timeout="0"

menuentry "Batocera.PLUS" {

    ### CONFIGURATION START
    set DISC=0
    set PART=2
    set DIR=/grub2/batocera
    set FILE=Batocera.PLUS.img

    ### IMPORTANT! NO CHANGE!
    insmod ntfs
    insmod ntfscomp
    insmod test
    if [ -f (hd$DISC,msdos$PART)$DIR/$FILE ]; then
        loopback loop (hd$DISC,msdos$PART)$DIR/$FILE
        EXEC="disc=$DISC part=$PART dir=$DIR file=$FILE"
        linux (loop,msdos1)/boot/linux $EXEC console=tty3 quiet loglevel=0 vt.global_cursor_default=0
        if [ -f (loop,msdos1)/batocera-hd-edition/batocera-hd-edition.gz ]; then
            initrd (loop,msdos1)/batocera-hd-edition/batocera-hd-edition.gz
        elif [ (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz ]; then
            initrd (hd$DISC,msdos$PART)$DIR/batocera-hd-edition.gz
        fi
    else
	linux  /boot/linux label=BATOCERA console=tty3 quiet loglevel=0 vt.global_cursor_default=0
	initrd /boot/initrd.gz
    fi
}
